@import url('https://fonts.googleapis.com/css2?family=Fondamento&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fondamento&display=swap');

header{
  text-align: center;
}
header nav {
  display: flex;
  justify-content: space-around;
  
}

header nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin: 0px 0px 0px 0px;
}

header nav div {
  font-size: 2.5em;
  width: 200px;
  border-radius: 7px;
  transition: background-color .2s, color .2s;
  padding: 20px;
  margin: 15px 0px 62px 0px;
  box-shadow: black 5px 10px;
  border: 3px solid black;
  background-color: rgba(65, 65, 65, .7);
  color: white;
}


header nav div:hover {
  background-color: rgb(255, 0, 0);
  color: rgb(0, 0, 0);
  
}


.signupbkg
{
  background-image: url("https://i.imgur.com/yTNaThP.jpg");
  background-position: center;  
  background-repeat: no-repeat;  
  height: 1300px;
  background-size: cover;
  margin: -500px -7px -500px -8px;   

}

.auth form {
  padding: 60px;
}
.auth form input, .form form input {
  background-color: rgb(255, 176, 6);
  color: white;
  padding: 8px;
  border-radius: 5px;
  display: block;
  margin: 10px auto;
  text-align: center;
  font-size: 1.2em;

}

button {
  background-color: rgb(255, 6, 6);
  color: white;
  padding: 8px;
  border-radius: 5px;
  display: block;
  margin: 10px auto;
  text-align: center;
  font-size: 1.2em;
}


.dashboard {
  text-align: center;
  background-image: url("https://wallpaperaccess.com/full/413590.jpg");
  background-color: rgb(0, 0, 0);
  color: white;

}

.dashboard {
  text-align: center;
  width: 100%;
  margin: 10px auto;
  color: white;
}

.fighter {
  text-align: center;
  margin: 15px -6px 10px -30px;
  width: 100%;
  border: 7px solid rgb(5, 3, 0);
  color: white;
}

#dbtxt {
  font-family: 'Fondamento', cursive;

}

.fighter, .btn, .aboutdiv {
 display: flex;
 flex-direction: row;

}

.aboutdiv {
  margin: 76px 0px 0px 50px;
  
}

#about {
height: 273px;
width: 300px;
background-color: white;
}

.info {
  text-align: left;
  margin: 50px 0px 0px 0px;
  color: white;


}

.fighterphoto {
  height: 500px;
  width: 600px;
  margin: 0px 20px 0px 20px;
  border: 5px solid rgb(255, 0, 0);

}

#name, #weight, #wins, #losses, #titles, #about {
  border: 3px solid rgb(0, 0, 0);
  border-radius: 10px;
  padding: 8px;
  color: rgb(0, 0, 0);
  background-color: white;
}

#losses {
  color: red;
}

#wins{
  color: green;
} 

#titles {
  color: gold;
}

.btn {
  margin: 166px 20px 280px 21px;
  display: flex;
  flex-direction: row;

  }

  #editbtn {
    padding: 0px 15px 0px 15px;
    border-radius: 20px;
    box-shadow: 5px 10px black;

  }

  #deletebtn {
    padding: 0px 15px 0px 15px;
    border-radius: 20px;
    box-shadow: 5px 10px black;

  }

  .homepgbkg {
    background-image: url("https://wallpaperaccess.com/full/1808239.jpg");
    margin: -1220px -7px 0px -8px;   
    height: 1200px; 
  }

  .homepgtxt1 {
    color: rgb(236, 0, 0);
    font-size: 2em;
    text-align: center;
    margin: 0px 0px 0px 0px;
    font-family: 'Fondamento', cursive;


  }

  #pick, #your {
    color: rgb(255, 255, 255);
    font-size: 3em;
    text-shadow: 15px 15px rgba(14, 1, 1, 0.5)
  }


  #boxing {
    font-size: 4em;
  color: rgb(255, 0, 0);
  text-shadow: 15px 15px rgba(14, 1, 1, 0.5)
}


  #goat {
    font-size: 6em;
    color: silver;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  }

  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px silver, 0 0 40px silver, 0 0 50px silver, 0 0 60px silver, 0 0 70px silver;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px gold, 0 0 40px gold, 0 0 50px gold, 0 0 60px gold, 0 0 70px gold, 0 0 80px;
    }
  }

  .fighterphoto {
    background-image: url("https://img1.pnghut.com/12/11/3/V0nA7ReStT/question-mark-neck-person-portrait-meditation.jpg");
  }

  